html {
    background: dimgray;
    scroll-behavior: smooth;
}

.header {
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:40px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkseagreen;
    background-color: darkolivegreen;
    align-items: center;
    position:fixed;
    Top: 0px;
    width: 100%;
    
    
}
.nav_list {
    display: flex;   
}

.nav_tabs {
    color: darkolivegreen;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: large;
    background: snow;
    padding: 10px;
    
    box-shadow: 5px 5px 5px black;
    margin: 20px;
}
.nav_tabs:hover {
    box-shadow: 0px 1px 14px 8px #999c00c9;
} 
.projects{
    margin-top: 160px;
}
.refact_pic_holder{
    display: flex;
    justify-content: center;
    align-items: center;

}
#refactoring_image{
    
    filter: blur(3px);
    margin:10px;
    border-radius: 10px;
    box-shadow: 0px 1px 14px 8px black;
    width: 800px;
    height: 400px;
    
}

section h2 {
    font-size: large;
    color:snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 10px solid rgb(70 86 60);
}

.project_img {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px ;
  

}
.projects .project_img img {
    filter: blur(3px);
    margin:10px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 1px 14px 8px black;

}

.projects img:hover, #refactoring_image:hover{
    filter: none;
    box-shadow: 0px 1px 14px 8px white;
}




.stickman {
    display: flex;
    justify-content: center;
    align-items: center;
}
#stickman {
    filter: none;
    width: 50%;
    height: 50%;
}

.bioheader {
    font-size: large;
    font-family: sans-serif;
    color: snow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h3 {
    color: snow;
    font-size: small;
    margin: 40px;
}

section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background: rgb(28, 39, 10);
}
.contact_info {
    padding: 20px;
    font-size: large;
    color: seagreen;
    
}